/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 1.8rem;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 2.5rem;
  font-family: "Roboto Mono", monospace;
}

h4 {
  font-size: 2.3rem;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 8rem;
  font-family: "Roboto Mono", monospace;
}

h6 {
  font-size: 2rem;
  font-weight: medium;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.15px;
}

.subtitle1 {
  font-size: 1.6rem;
  font-weight: medium;
  font-family: "Roboto Mono", monospace;
}

.subtitle2 {
  font-size: 1.4rem;
  font-weight: medium;
  font-family: "Roboto Mono", monospace;
}

.body1 {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.body2 {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

.caption {
  font-size: 1.2px;
  letter-spacing: 0.4px;
  font-family: "Roboto", sans-serif;
}

.overline {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button {
  background-color: #344955;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  letter-spacing: 1.25px;
}

button:hover {
  background-color: #232f34;
}

button:focus,
input:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

label {
  font-size: 1.8rem;
  padding: 4px;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #344955;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #344955;
  text-shadow: none;
}

body {
  width: 100%;
  height: 100vh;
}

.game {
  margin: 0 auto;
  width: 90%;
}

.game-text {
  padding: 20px;
}

#custom-rounds {
  display: inline;
  margin-left: 10px;
  padding: 5px;
}

.box {
  border: 2px solid white;
}

.game-runden {
  padding: 20px;
}

.game-karten {
  height: 50vh;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}

#fourth {
  display: none;
}

#btn-guess {
  display: none;
}

.hundred {
  text-align: center;
  padding: 5px;
  background-color: #eeeeee;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hundred:hover {
  background-color: lightgreen;
}

.indputCustom {
  padding: 10px;
}

.indputCustom input {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.restart {
  position: absolute;
  top: 21%;
  height: 70.6%;
  width: 80%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background-color: white;
  z-index: 2;
}

.restart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 20rem;
}

.restart h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.restart button {
  position: fixed;
  top: 10%;
  font-size: 2rem;
  width: 20rem;
  height: 50px;
  border: none;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.testHover {
  background-color: #e5fcb1;
}

.fadeOut {
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gewinnZahlTog {
  z-index: 4;
  font-size: 8rem;
  background-color: red;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  pointer-events: none;
}

.lastNumberTog {
  z-index: 4;
  font-size: 8rem;
  background-color: #006eff;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  pointer-events: none;
}

@media screen and (max-width: 789px) {
  .game {
    margin: 0 auto;
    width: 100%;
  }
  #custom-rounds {
    margin-top: 0.5rem;
    margin-left: 0rem;
    display: inline;
  }
  #btn-reset {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .indputCustom {
    padding: 0px;
  }
  #custom-rounds {
    display: inline;
    width: 60px;
    margin-left: 0px;
    padding: 5px;
  }
  .restart {
    position: absolute;
    top: 12%;
    height: 80%;
    width: 100%;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    background-color: white;
    z-index: 2;
  }
  .restart-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 50%;
    margin-bottom: 20rem;
  }
  .restart button {
    position: absolute;
    top: -100px;
    right: 5px;
    font-size: 1.6rem;
    width: 50%;
    border: none;
  }
  .game-text {
    padding: 5px;
  }
  .game-runden {
    padding: 5px;
  }
  .game-karten {
    height: 50vh;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
  }
  .gewinnZahlTog {
    font-size: 1.6rem;
  }
  .lastNumberTog {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */